.gitconfig
.ssh 
.lesshst
.bash_history
.bash_logout
.bashrc
.cache
.htaccess
.htaccess.bk
.profile
adminer.php
phpmyadmin
index.html-old
info.php
*.zip 
*.sql
*.tar.gz
wp-content/cache/
wp-config.php
.viminfo
loaderio-5a4b895b05c9250d909928d8e9fb77e1
loaderio-5a4b895b05c9250d909928d8e9fb77e1.html
loaderio-5a4b895b05c9250d909928d8e9fb77e1.txt
/wp-content/index.php
/wp-content/languages
/wp-content/plugins/index.php
/wp-content/themes/index.php
/wp-includes/
/license.txt
/readme.html
/xmlrpc.php
wp-config.php
/wp-content/themes/twenty*/
/wp-content/plugins/hello.php
/wp-content/uploads/
wp-config-sample.php
*.log
